body {
  background-color: #7F4250;
  font-family: "Lato";
  color: white;
}

button {
color: #888888}

#webgl-container {
  position: fixed;
  width: 100%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#webgl-container canvas {
  border: 5px solid #333333
}

#app-container {
  width: 100%;
 min-height: 700px;
}
